.App {
  text-align: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  align-items: center;
}

.form-container form > * {
  margin: 5px;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
